
version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: university_mysql
    restart: always
    environment:
      MYSQL_DATABASE: universitydb
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_USER: university_user
      MYSQL_PASSWORD: university_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
    driver: local
